/* Main */
.main {
    background-color: #E6E7E8 ;
    padding-bottom: 20px;
}

/* List Product */
.list_product {
      margin: 0 auto;
      padding: 10px 0;
      margin-top: 20px;
      width: 90%; 
}

.list_product_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
 }

/* Slider */
.slider {
    width: 90%;
    margin: 0 auto;
}
.slider div {
    border-radius: 15px;
}

.slider_image {
    width: 100%;
    height: 50vh;
}


/* Main Function */
.main-function {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

.main-function b {
    font-size: 30px;
}

.main-function-icon {
    border: 3px solid rgb(50, 171, 192);
    border-radius:15px;
    padding: 5px 15px;
    background-color: white; 
}

.main-icon {
    font-size: 30px;
}

/* Advertise */
.advertise {
    background-color: darkgray;
    width: 90%;
    margin: 0 auto;
    height: 15vh;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    padding: 20px
}

@media screen and (max-width: 412px) {
    
}